
<div class="maint">
    <div class="ui huge header">
        <div class="header">Our Community is Global</div> 
     </div>
     <p>Germany, Nigeria, Japan, USA, New Zealand, Turkey, Switzerland…. These are just some of the 
         countries in the family. Established in 1948, the International Association for the Exchange 
         of Students for Technical Experience (IAESTE) is a worldwide organisation with over 80 member 
         countries. It offers international traineeships for students studying degrees in science, 
         engineering and related disciplines. IAESTE is the largest organisation of its kind in 
         the world and aims to promote international understanding and goodwill amongst students, 
         academic institutions, employers and the wider community
     </p> 

     <!-- <img src="assets/home/home.jpg" /> -->
     <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="img_nature_wide.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="img_snow_wide.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="img_mountains_wide.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div>
        
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>

      <div class="wawis">Events</div>
      <br />
      <div class="ui three cards">
        <div class="card">
          <div class="content">
            <div class="center aligned wawiss">MONTHLY</div><br />
            <div class="left aligned description">
              <p>IAESTE Ghana organizes local community meetings for all the commitees in Ghana.</p>
              <p>To know when you local commitee meets, Kinkly contact the local commitee president </p>
              <ul>
                <li>KNUST - 050 159 8768</li>
                <li>UG, Legon - 057 343 2513</li>
                <li>UENR - 026 597 5875</li>
                <li>UCC - 027 702 8124 </li>
              </ul>
              <p>Contact the Exchange Coordinator via 050 143 1612</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="center aligned wawiss">TRIPS</div><br />
            <div class="left aligned description">
              <p>IAESTE Ghana organizes local community meetings for all the commitees in Ghana.</p>
              <p>To know when you local commitee meets, Kinkly contact the local commitee president </p>
              <ul>
                <li>KNUST - 050 159 8768</li>
                <li>UG, Legon - 057 343 2513</li>
                <li>UENR - 026 597 5875</li>
                <li>UCC - 027 702 8124 </li>
              </ul>
              <p>Contact the Exchange Coordinator via 050 143 1612</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="center aligned wawiss">IAESTE DAY</div><br />
            <div class="left aligned description">
              <p>IAESTE Ghana organizes local community meetings for all the commitees in Ghana.</p>
              <p>To know when you local commitee meets, Kinkly contact the local commitee president </p>
              <ul>
                <li>KNUST - 050 159 8768</li>
                <li>UG, Legon - 057 343 2513</li>
                <li>UENR - 026 597 5875</li>
                <li>UCC - 027 702 8124 </li>
              </ul>
              <p>Contact the Exchange Coordinator via 050 143 1612</p>
            </div>
          </div>
        </div>
      </div>

      

</div>
        
       
