<div class="contact4 overflow-hiddedn position-relative">
    <!-- Row  -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm">
            One of three columns
            </div>
            <div class="col-sm">
            <form class="mt-3 cform-box">
                <h1 class="text-white">Send a <span id="msg">Message</span></h1>
                <div class="row">
                    <div class="col-lg-12">
                    <div class="form-group mt-2">
                        <input class="form-control text-white" type="text" placeholder="name">
                    </div>
                    </div>
                    <div class="col-lg-12">
                    <div class="form-group mt-2">
                        <input class="form-control text-white" type="email" placeholder="email address">
                    </div>
                    </div>
                    <div class="col-lg-12">
                    <div class="form-group mt-2">
                        <textarea class="form-control text-white" rows="3" placeholder="message"></textarea>
                    </div>
                    </div>
                    <div class="col-lg-12 d-flex align-items-center mt-2">
                    <span class="ml-auto text-white align-self-center">
                        <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span> Submit</span></button>
                    </span>
                    </div>
                </div>
                </form>
            </div>
        </div>
        </div>
</div>