<header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light hbg shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/logo-iaeste.png" width="70%" height="70%" alt="iaeste-ghana-logo">
      </a>
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/employers">Employers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item search-bar">
            <div class="input-group">
              <input type="text" class="form-control search-input">
              <div class="input-group-append">
                  <button class="btn btn-secondary search-button" type="button">
                      <i class="fa fa-search"></i> Search
                  </button>
              </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Load main Content -->
<router-outlet></router-outlet>


<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">IAESTEGH is an initiative to help continuous students mainly in STEM field. IAESTE focuses on providing the most efficient environment or atmosphere as the place to explore. We help students build up concepts in different working environments or countries that include Germany, Poland, UK, Spain, Switzerland, Serbia, Iran, Nigeria, Brazil, Tanzania and more.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Location</h6>
        <ul class="footer-links">
          <li>Room 19</li>
          <li>Student Affairs and Finance Office</li>
          <li>Dean of Students, Commercial Area</li>
          <li>KNUST, Kumasi Campus</li>
          <li>Kumasi, Ghana</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/students">Students</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
     <a href="http://afyacy.herokuapp.com/" target="_blank">Afyacy</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#" ><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="https://instagram.com/iaeste._knust?igshid=14b44m5pdpc1c" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>