<header>
  <nav class="navbar navbar-expand-lg navbar-light hbg">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-iaeste.png" width="80%" height="80%" alt="iaeste-ghana-logo">
    </a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav navbar-right mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/students">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/employers">Employers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <div class="input-group mr-sm-2">
          <input type="text" class="form-control" placeholder="Search here...">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div> -->
      </form>
    </div>
  </nav>
</header>

<!-- Load main Content -->
<router-outlet></router-outlet>


<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Iaestegh.org <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. IAESTE focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">C</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Android</a></li>
          <li><a href="#">Templates</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/students">Students</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
     <a href="#">Afyacy</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>